.goog-palette{outline:none;-moz-outline:none;cursor:default}
.goog-palette-table{border:1px solid #666;border-collapse:collapse}
.goog-palette-cell{height:13px;width:15px;margin:0;border:0;text-align:center;vertical-align:middle;border-right:1px solid #666;font-size:1px}
.goog-palette-colorswatch{position:relative;height:13px;width:15px;border:1px solid #666}
.goog-palette-cell-hover .goog-palette-colorswatch{border:1px solid #fff}
.goog-palette-cell-selected .goog-palette-colorswatch{border:1px solid #000;color:#fff}
