@import "colorpicker-simplegrid"
@import "dialog"

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

body
html
	width 100%
	height 100%
	margin 0
	padding 0
	font normal 1em sans-serif

a
	color #326600
	font-weight bold

#canvas
	cursor crosshair

#footer
	position fixed
	bottom 0px
	height 45px
	width 100%
	text-align center
	background #aaa
	border-top 1px dashed #555
	padding-top 5px

#help
	background-color rgba(0, 255, 0, 0.2)
	padding 2px 5px
	position fixed
	top 10px
	right 10px
	color #99000B
	font-weight bold
	font-size 4em
	text-align center
	cursor help
	box-shadow(10px 10px 5px #aaa)
	border-radius(5px)

#help span
	display none

#toolbox
	position absolute
	top 10px
	left 0px
	width 130px
	height 150px
	padding 10px
	background #DDD
	box-shadow(10px 10px 5px #aaa)
	border-radius(0 5px 5px 0)

.modal-dialog
	width 430px
